.header {
  margin: 1rem auto;
  padding: 1rem 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  inline-size: 100%;

  background-color: var(--color-surface--2);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  corner-shape: round;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.img_box {
  inline-size: 50px;
  block-size: 50px;

  overflow: hidden;

  border-radius: 999rem;
}

.header__img {
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
}

.text_box {
  display: grid;
  gap: 0.3rem;
}

.header_title {
  font-size: var(--font-size-400);
  font-weight: 400;
  font-family: "morabbaMed";
  color: var(--color-text);
}

.header_desc {
  font-size: var(--font-size-200);
  font-weight: 200;
  color: var(--color-text--sub);
}

.header_left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.signIn_link {
  display: flex;
  align-items: center;
  gap: 1ch;
  position: relative;
  top: -3px;
  padding: 0.25rem;
  text-decoration: none;

  font-size: var(--font-size-300);
  color: var(--color-white);
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-fade)
  );

  transition: all 0.2s;

  border-radius: 0.3rem;

  > svg {
    font-size: var(--font-size-200);
    font-weight: 600;
    transition: all 0.3s;
  }
  > Span {
    display: none;
  }
}

.signIn_link:hover {
  background: transparent;
  color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-danger-fade);
}

.signIn_link:hover svg {
  transform: rotate(180deg) scale(1.1);
  color: var(--color-danger);
}

/* mobile size */
@media screen and (min-width: 576px) {
  .signIn_link {
    top: -2px;
    padding: 0.3rem;

    > svg {
      font-size: var(--font-size-300);
    }
  }
}
/* tablet size */
@media screen and (min-width: 768px) {
  .signIn_link {
    top: 0;
    padding: 0.4rem;

    > svg {
      font-size: var(--font-size-400);
    }
  }
}

/* desktop size */
@media screen and (min-width: 992px) {
  .header {
    margin: 3rem auto;
    padding: 1.2rem;
  }

  .header_right {
    gap: 0.8rem;
  }

  .img_box {
    inline-size: 70px;
    block-size: 70px;
  }

  .text_box {
    gap: 0.5rem;
  }

  .header_title {
    font-weight: 600;
  }

  .header_desc {
    font-weight: 300;
  }

  .header_left {
    gap: 0.8rem;
  }

  .signIn_link {
    top: 0;
    padding: 0.5rem 0.7rem;

    > svg {
      font-size: var(--font-size-400);
    }
    > Span {
      display: block;
    }
  }
}
