.users__wrapper {
  padding: 1rem;
}

.users__wrapper-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  text-align: center;
  color: var(--color-danger);
  font-size: var(--font-size-400);
  font-weight: 600;
  margin-block-start: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--color-surface--3);
}
