.coureItem__wrapper {
  width: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  margin-top: 1rem;
  background-color: var(--color-surface--3);
}

.courseItem__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.courseItem__right--img {
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  object-fit: cover;
}

.courseItem__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courseItem__left--bottom {
  background-color: var(--color-surface--1);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.courseItem__left--bottom--right {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  column-gap: 0.7rem;
}

.courseItem__left--bottom--right-price,
.courseItem__left--bottom--right-group,
.courseItem__left--bottom--right-count {
  font-size: var(--font-size-200);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

.courseItem__left--bottom--right-price-tag,
.courseItem__left--bottom--right-group-tag,
.courseItem__left--bottom--right-count-tag {
  display: block;
}

.courseItem__left--bottom--left {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

.coureItem__badge {
  position: absolute;
  top: -7%;
  left: -1%;
  transform: rotate(45deg);
}

.remove {
  color: var(--color-danger);
  transition: all 0.2s ease-in;
}
.remove:hover {
  color: var(--color-danger-hover);
}
.edit {
  color: var(--color-primary);
  transition: all 0.2s ease-in;
}
.edit:hover {
  color: var(--color-primary-hover);
}

@media screen and (min-width: 320px) {
  .courseItem__left--bottom--right {
    column-gap: 0.3rem;
  }
  .courseItem__left--bottom--right-price-tag,
  .courseItem__left--bottom--right-group-tag,
  .courseItem__left--bottom--right-count-tag {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .courseItem__left--bottom--right {
    column-gap: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .courseItem__left--bottom--right-price,
  .courseItem__left--bottom--right-group,
  .courseItem__left--bottom--right-count {
    flex-direction: column;
  }
  .courseItem__left--bottom--right {
    column-gap: 0.6rem;
  }
  .courseItem__left--bottom--right-price-icon,
  .courseItem__left--bottom--right-group-icon,
  .courseItem__left--bottom--right-count-icon {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .courseItem__left--bottom--right {
    column-gap: 0.7rem;
  }

  .courseItem__left--bottom--right-price,
  .courseItem__left--bottom--right-group,
  .courseItem__left--bottom--right-count {
    flex-direction: row;
  }
  .courseItem__left--bottom--right-price-icon,
  .courseItem__left--bottom--right-group-icon,
  .courseItem__left--bottom--right-count-icon {
    display: block;
  }

  .courseItem__left--bottom--right-price-tag,
  .courseItem__left--bottom--right-group-tag,
  .courseItem__left--bottom--right-count-tag {
    display: block;
  }
}
