.wrapper {
  min-block-size: 7rem;
  max-block-size: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;

  background-color: var(--color-surface--3);
  overflow: hidden;

  .img-box {
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    display: grid;
    padding-block-start: 0.5rem;

    .sub {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      padding-inline: 0.5rem;
      padding-block-end: 0.5rem;
      background-color: var(--color-surface--1);

      .sub-detailes {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .sub-actions {
        display: flex;
        align-items: center;

        .remove {
          color: var(--color-danger);
          transition: all 0.2s ease-in;

          &:hover {
            color: var(--color-danger-hover);
            background-color: var(--color-danger-light);
            transform: translateY(-2px);
          }
        }

        .edit {
          color: var(--color-primary);
          transition: all 0.2s ease-in;

          &:hover {
            color: var(--color-primary-hover);
            background-color: var(--color-primary-light);
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  .badge {
    position: absolute;
    top: 10%;
    left: 2%;
  }

  &:hover {
    transform: translateY(-3px);
  }
}

/* tablet size */
@media screen and (min-width: 768px) {
  .wrapper {
    min-block-size: 8rem;
  }
}

/* desktop size */
@media screen and (min-width: 992px) {
  .wrapper {
    min-block-size: 9rem;
  }
}
