.userItem-wraper {
  width: 100%;

  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: var(--color-surface--3);
  padding: 0.2rem 0.5rem;
  /* margin-top: 2rem; */

  .profile {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;

    .img-box {
      width: 50px;
      height: 50px;
      border-radius: 999rem;
      overflow: hidden;

      .img {
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      align-items: start;

      .title {
        font-size: var(--font-size-400);
        font-weight: 600;
        color: var(--color-text);
      }

      .mail {
        font-size: var(--font-size-300);
        font-weight: 300;
        color: var(--color-text--sub);
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;

    .info {
      color: var(--color-success);

      border-radius: 999rem;
      transition: all 0.2s ease;

      &:hover {
        color: var(--color-success-hover);
        background-color: var(--color-success-light);
      }
    }
    .remove {
      color: var(--color-danger);
      transition: all 0.2s ease;

      &:hover {
        color: var(--color-danger-hover);
        background-color: var(--color-danger-light);
      }
    }
    .edit {
      color: var(--color-primary);

      border-radius: 999rem;
      transition: all 0.2s ease;

      &:hover {
        color: var(--color-primary-hover);
        background-color: var(--color-primary-light);
      }
    }
  }

  &:hover {
    transform: translateY(-3px);
  }
}

/* tablet size */
@media screen and (min-width: 768px) {
  .userItem__wraper {
    padding: 0.4rem;
    margin-top: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  .userItem__wraper {
    padding: 0.6rem;
    margin-top: 1rem;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    transform: translateX(50%) translateY(-3px);
  }
  50% {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }
}
