.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .btn {
    display: flex;
    align-items: center;
    transform: translateY(-2px);
    justify-content: center;
    transition: all 0.2s;
    background: linear-gradient(
      to bottom right,
      var(--color-purple-dark),
      var(--color-purple-fade)
    );
    font-size: var(--font-size-300);
    border: 1px solid var(--color-purple);
    aspect-ratio: 1/1;
    .icon {
      font-size: 1em;
      display: flex;
      font-weight: 600;
    }
    .text {
      display: none;
    }

    &.primary {
      box-shadow: 0 4px 0 0 var(--color-purple-hover);
    }
    &:hover {
      transform: translateY(1px);
      &.primary {
        box-shadow: 0 2px 0 0 var(--color-purple-hover);
      }
    }

    &:active {
      transform: translateY(4px);

      &.primary {
        box-shadow: 0 2px 0 0 var(--color-purple-hover);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .toolbar {
    .btn {
      aspect-ratio: 9/4;
      .icon {
        font-size: 0.8em;
        font-weight: 400;
      }
      .text {
        font-size: 0.8em;
        display: flex;
        text-wrap: nowrap;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .toolbar {
    .btn {
      padding-inline: 1rem;
      aspect-ratio: 4/1;
      .icon {
        font-size: 1em;
        font-weight: 400;
      }
      .text {
        font-size: 1em;
        display: flex;
      }
    }
  }
}
