.articleItem__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;

  margin-top: 1rem;
  background-color: var(--color-surface--3);

  overflow: hidden;

  &:hover {
    transform: translateY(-3px);
  }

  .image-box {
    inline-size: 100%;
    block-size: 100%;

    .image {
      inline-size: 100%;
      block-size: 100%;
      object-fit: contain;
    }
  }

  .writing {
    display: grid;
    gap: 0.2rem;

    .detailes {
      background-color: var(--color-surface--1);
      padding: 0.3rem 0.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .content {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
      }
      .actions {
        display: flex;
        align-items: center;
        column-gap: 0.2rem;

        .remove {
          color: var(--color-danger);
          transition: all 0.2s ease;

          &:hover {
            color: var(--color-danger-hover);
            background-color: var(--color-danger-light);
          }
        }
        .edit {
          color: var(--color-primary);

          border-radius: 999rem;
          transition: all 0.2s ease;

          &:hover {
            color: var(--color-primary-hover);
            background-color: var(--color-primary-light);
          }
        }
      }
    }
  }
}

/* tablet size */
@media screen and (min-width: 768px) {
}

/* desktop size */
@media screen and (min-width: 992px) {
}
