.remove-modal {
  display: grid;
  gap: 1rem;
  padding: 1rem;

  .title {
    text-align: center;
    font-size: var(--font-size-400);
    font-weight: 600;
    color: var(--color-text);

    .text {
      display: inline-block;
      position: relative;
      padding-inline: 0.5rem;
      font-size: 1.3em;
      font-weight: 600;
      color: var(--color-success);

      &::before {
        content: "";
        display: block;
        position: absolute;
        inline-size: 100%;
        block-size: 30%;
        background-color: var(--color-success-fade);
        border-radius: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        right: -1%;
        z-index: -1;
        opacity: 0.5;
        animation: fade 3s infinite linear;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@keyframes fade {
  0%,
  50%,
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
  25% {
    opacity: 0.1;
    transform: translateY(-6px);
  }

  75% {
    opacity: 0.1;
    transform: translateY(-3px);
  }
}
