.home {

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  .header {
    margin-block: 1rem;
    > h2 {
      z-index: 1;
      display: inline-block;
      font-size: var(--font-size-700);
      background: linear-gradient(
        270deg,
        var(--color-success-dark),
        var(--color-success-light) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;

      color: transparent;
      -webkit-text-fill-color: transparent;
      padding: 1rem;
      position: relative;
    }
  }
  .contant {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
