.title-section {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1.2rem 1rem;
  flex: 1;
  .title {
    font-size: var(--font-size-400);
    color: var(--color-secondary);
    font-weight: 600;
    font-family: "morabbaMed";
  }
  .sub {
    font-size: var(--font-size-300);
    font-weight: 400;
    color: var(--color-text--sub);
  }
}
