.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  border-bottom: 1px solid var(--color-border);
}
.navbar_item {
  color: var(--color-text);
  text-decoration: none;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  transition: all 0.2s ease-in;
  font-size: var(--font-size-300);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
}

.navbar_item :hover {
  color: var(--color-primary);
}
.item_active {
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  color: var(--color-primary-hover);
  position: relative;
  padding: 0.5rem 0;
  text-decoration: none;
  color: var(--color-primary-contrast);
  font-size: var(--font-size-500);
  font-weight: 500;
  transition: all 0.2s ease;
  transform: scale(1.1);
  text-shadow: 0 0 1px var(--color-primary-hover);
  background-color: var(--color-primary-fade);
}

.item_active::before {
  content: "";
  display: block;
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 0.5rem;
  background-color: var(--color-primary-hover);
}

@media screen and (min-width: 320px) {
  .navbar {
    gap: 1.5rem;
  }
  .navbar_item,
  .item_active {
    padding: 0.2rem;
  }
}
@media screen and (min-width: 576px) {
  .navbar {
    gap: 1.7rem;
  }
  .navbar_item,
  .item_active {
    padding: 0.3rem;

    column-gap: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    gap: 2rem;
  }

  .navbar_item,
  .item_active {
    padding: 0.4rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    gap: 2.2rem;
  }
  .navbar_item,
  .item_active {
    padding: 0.5rem;

    column-gap: 0.2rem;
  }
}
