.header-skeleton {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    .writing {
      display: grid;
      gap: 0.5rem;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
