.userItem__wraper {
  width: 100%;
  border: 1px solid var(--color-border);
  display: flex;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
.userItem__right {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.userItem__right--img-box {
  width: 50px;
  height: 50px;
}
.userItem__right--img {
  width: 100%;
  object-fit: cover;
}
.userItem__right--content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: start;
}
.userItem__right--content-top {
  font-size: var(--font-size-400);
  font-weight: 600;
  color: var(--color-text);
}
.userItem__right--content-bottom {
  font-size: var(--font-size-300);
  font-weight: 400;
  color: var(--color-text--sub);
}

.userItem__left {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

@media screen and (min-width: 320px) {
  .userItem__wraper {
    padding: 0.4rem;
    margin-top: 0.4rem;
  }

  .userItem__left {
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    row-gap: 0.2rem;
  }
}
@media screen and (min-width: 576px) {
  .userItem__wraper {
    padding: 0.6rem;
    margin-top: 0.6rem;
  }

  .userItem__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .userItem__left {
    display: flex;
    flex-direction: row;
    align-items: start;
    row-gap: 0.2rem;
  }

  .userItem__wraper {
    padding: 0.8rem;
    margin-top: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  .userItem__wraper {
    padding: 1rem;
    margin-top: 1rem;
  }

  .userItem__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;
  }
}
