.badgeBase {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateX(0px) translateY(0) rotate(0) scale(0.8);
  animation: rolled 2s infinite linear;
}

.circleVariant {
  border-radius: 999rem;
}

.SquareVariant {
  border-radius: 6px;
}

.colorBlue {
  color: var(--color-white);
  background-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}

.colorRed {
  color: var(--color-white);
  background-color: var(--color-danger);
  box-shadow: 0 0 5px var(--color-danger);
}

.colorGreen {
  color: var(--color-white);
  background-color: var(--color-success);
  box-shadow: 0 0 5px var(--color-success-hover);
}

.colorBrown {
  color: var(--color-white);
  background-color: var(--color-secondary);
  box-shadow: 0 0 5px var(--color-secondary);
}

.size__sm {
  padding: 0.3rem;
  font-size: var(--font-size-200);
  font-weight: 300;
}
.size__md {
  padding: 0.5rem;
  font-size: var(--font-size-300);
  font-weight: 400;
}
.size__lg {
  padding: 0.7rem;
  font-size: var(--font-size-400);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .size__lg {
    padding: 0.6rem;
    /* font-size: 0.9rem; */
    font-weight: 500;
  }
  .size__md {
    padding: 0.4rem;
    /* font-size: 0.7rem; */
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .size__lg {
    padding: 0.7rem;
    /* font-size: 1rem; */
    font-weight: 500;
  }

  .size__md {
    padding: 0.5rem;
    /* font-size: 0.8rem; */
    font-weight: 400;
  }
}

@keyframes rolled {
  0% {
    opacity: 1;
    transform: translateX(0) rotate(0) scale(0.8);
  }
  25% {
    opacity: 0.5;
    transform: translateX(6px) translateY(-3px) rotate(10deg) scale(0.7);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) translateY(0) rotate(0) scale(0.8);
  }
  75% {
    opacity: 0.5;
    transform: translateX(-6px) translateY(-3px) rotate(-10deg) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0) rotate(0) scale(0.8);
  }
}
