.sub-group {
  font-size: var(--font-size-200);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  .label {
    display: none;
  }
}

/* Tablet size */
@media screen and (min-width: 768px) {
  .sub-group {
    .label {
      display: block;
    }
  }
}

/* desktop size */
@media screen and (min-width: 992px) {
  .sub-group {
    display: flex;
    align-items: center;
    column-gap: 0.1rem;
    .label {
      display: block;
    }
  }
}
