.sub-group {
  font-size: var(--font-size-400);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 0.3rem;

  .icon {
    font-size: 0.8em;
  }
  .label {
    display: none;
  }
  .value {
    font-size: 0.8em;
  }
}

/* Tablet size */
@media screen and (min-width: 768px) {
  .sub-group {
    .label {
      display: block;
      font-size: 0.6em;
    }
    .icon {
      font-size: 0.6em;
    }

    .value {
      font-size: 0.9em;
    }
  }
}

/* desktop size */
@media screen and (min-width: 992px) {
  .sub-group {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    .label {
      display: block;
      font-size: 0.8em;
    }
    .icon {
      font-size: 0.8em;
    }

    .value {
      font-size: 1em;
    }
  }
}
