* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  caret-color: var(--color-primary);
  accent-color: var(--color-primary);
}

body {
  background-color: var(--color-surface--1);
  font-family: "danaMed";
  color: var(--color-text);
}

input,
textarea,
select,
button,
textarea {
  font-family: inherit;
}

.container {
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
}

.red {
  --main-color: var(--color-danger);
  --second-color: var(--color-danger-light);
}
.blue {
  --main-color: var(--color-primary);
  --second-color: var(--color-primary-light);
}
.green {
  --main-color: var(--color-success);
  --second-color: var(--color-success-light);
}
.yellow {
  --main-color: var(--color-secondary);
  --second-color: var(--color-secondary-light);
}
.gray {
  --main-color: var(--color-gray);
  --second-color: var(--color-gray-light);
}

.purple {
  --main-color: var(--color-gray);
  --second-color: var(--color-gray-light);
}
